/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
// NAVBAR

html, body {
    height: 100%;
    width: 100%;
}
//  Check out the new logo that I created on <a href="http://logomakr.com" title="Logo Maker">LogoMaker.com</a> https://logomakr.com/66Luzl66Luzl
body {
  font-family: 'Roboto', sans-serif;
  // background-image: url('http://res.cloudinary.com/ddgt25kwb/image/upload/v1505944281/run2_hkujiy.jpg');
  background-position-y: 120px;
  background-size: 100%;
  background-repeat: no-repeat;
  // overflow-x: hidden;
  // overflow-y: hidden;
  margin: 0 8px 0 0;
}

.login-header, .logout-header {
  height: 80px;
  display: flex;
  flex-direction: row-reverse;
  background: white;

  // border-bottom: 1px solid black;
  box-shadow: 0px 13px 26px 0px rgba(0,0,0,0.1);
  z-index: 99999999990;
}

.login-header p, .logout-header p {
  padding-top: 25px;
  padding-right: 30px;
}

/// SCROLL HEADER
.scroll-login-header{
  position: fixed;
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  flex-direction: row-reverse;
  background: white;
  // border-bottom: 1px solid black;
  z-index: 9999999999;
  transform: translate3d(0, -300%, 0);
  transition-property: all;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0, 1.085, 0.4, 1);
  transition-delay: initial;
  box-shadow: 0px 13px 26px 0px rgba(0,0,0,0.09);
}
.scroll-login-link, .scroll-signup-link, .scroll-demo-button {
  font-family: 'MaisonNeue', 'Helvetica', Arial, sans-serif;
  font-weight: 700;
  cursor: pointer;
  font-size:14px;
  text-decoration: none;
  background-color: #fff;
  color: #fc4c02;
  padding:15px 20px 0 20px;
}

.scroll-login-link:hover, .scroll-signup-link:hover, .scroll-demo-button:hover {
  text-decoration: none;
  color: black;
}

.scroll-divider {
  width:72%;
  height:auto;
  display:inline-block;
}


.scroll-login-header img{
  margin-top: 5px;
  height: 40px;
  width: auto;
}

.carrot-container p {
  font-family: 'MaisonNeue', 'Helvetica', Arial, sans-serif;
  text-align: center;
  padding-top: 15%;
  color: white;
}

.carrot {
  background-image: url('http://res.cloudinary.com/ddgt25kwb/image/upload/c_scale,w_78/v1506458198/down_g0euzg.png');
  position: relative;
  height: 30px;
  width: 30px;
  left: 50%;
  transform: translate(-50%, 0%);
  top: -6px;
  background-size: 100%;
  opacity: 1;
  transition-property: all;
  transition-duration: 12s;
  transition-timing-function: cubic-bezier(0.27, 0, 0.4, 1);
  transition-delay: initial;
  animation-duration: 2s;
  animation-timing-function: initial;
  animation-delay: initial;
  animation-iteration-count: infinite;
  animation-direction: initial;
  animation-fill-mode: initial;
  animation-play-state: initial;
}
///

//1. WHY-US
.parallax-show-1{
  height: 1000px;
}

.why-us {
  padding-top: 100px;
  padding-left: 70px;
}

.why-us h4 {
  color: grey;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bolder;
  font-size: 200%;
  line-height: 20%;
}

.why-us h3 {
  color: black;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bolder;
  font-size: 200%;
  line-height: 20%;
}

.first-picture-showcase p {
  padding-top: 150px;
  padding-left: 140px;
  font-weight: bold;
}

.first-picture-showcase {
  display: flex;
}

.first-picture-showcase img {
  padding-top: 150px;
  padding-left: 50px;
}

.second-picture-showcase p {
  padding-top: 150px;
  padding-left: 120px;
  font-weight: bold;
}

.second-picture-showcase {
  display: flex;
}

.second-picture-showcase img {
  width: 60%;
  height: 60%;
  padding-top: 150px;
  padding-left: 50px;
}

.parallax-show-2{
  height: 800px;
}

//

.button-container {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.myButton {
  display: flex;
	// -moz-box-shadow:inset 0px 34px 0px -15px #fc4d02;
	// -webkit-box-shadow:inset 0px 34px 0px -15px #fc4d02;
	// box-shadow:inset 0px 34px 0px -15px #fc4d02;
	// background-color: #fc4d02;
	cursor:pointer;
	color: black;
	font-family:Trebuchet MS;
	font-size:10px;
	font-weight:bold;
	text-decoration:none;
	text-shadow:0px 0px 0px #ffffff;
  position: relative;
  right: 10px;
  top: 20px;
  border-radius: 8px;
}

.myButton:hover {
	// background-color:#fc4d02;
  color: red;
}

.button {
  display: flex;
  font-family:Trebuchet MS;
  font-size:20px;
  text-decoration: none;
  background-color: #fc4d02;
  color: #ffffff;
  margin-right: 20px;
	padding:30px 30px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  cursor: pointer;
}

.signup-button {
  display: flex;
  font-family:Trebuchet MS;
  font-size:20px;
  text-decoration: none;
  background-color: #fff;
  color: black;
  padding: 20px 40px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  cursor: pointer;
  margin-top: 7px;
}

.login-button {
  display: flex;
  font-family:Trebuchet MS;
  font-size:15px;
  text-decoration: none;
  background-color: #fc4d02;
  color: white;
  padding:10px 20px;
  cursor: pointer;
  // border-radius: 5px;
  margin-right: 15px;
  margin-top: 20px;
  transition: all 200ms linear;
}

.demo-login-button {
  display: flex;
  font-family:Trebuchet MS;
  font-size:15px;
  text-decoration: none;
  background-color: #fc4d02;
  color: white;
  padding:10px 20px;
  cursor: pointer;
  // border-radius: 5px;
  margin-right: 15px;
  margin-top: 20px;
  transition: all 200ms linear;
}

.divider{
  width:350px;
  height:auto;
  display:inline-block;
}

.login-ul-nav {
  display: flex;
  margin: auto;
  width: 60%;
  height: 90%;
  justify-content: space-between;
}

.login-ul-nav a {
  font-size:20px;
  text-decoration: none;
  background-color: #fff;
  color: black;
  padding:0px 20px;
}

.login-ul-nav a:hover {
  font-size:20px;
  text-decoration: none;
  color: red;
  padding:0px 20px;
}

.session-form {
  // width: 100%;
  display: flex;
  flex-direction: column;
  // padding: 0 80px;
  // // overflow: none;
  text-align: center;
  font-size: 14px;
  min-height: 40px;
  padding: 12px 10px;
  transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  background: rgba(0,0,0,0.5);
  border: 1px solid #666;
  color: #CCC;
  margin: 6px 0;
  width: 94%;
  text-align: -webkit-center;
}

.height-divider {
  height: 30px;
}

.session-exit-button-container {
    display: flex;
    flex-direction: column;
}

.session-exit-button-container img {
  width: 7%;
  cursor: pointer;
}

.submit-session {
  transition: all 0.25s;
  margin-top: 25px;
  background-color: #fc4d02;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  width: 70%;
  border-radius: 3px;
}

.session-form-div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  opacity: 0.9;
  flex-direction: column;
  // text-align: -webkit-center;
}

.session-form-div h1 {
  color: white;
  text-align: center;
}

.session-inputs {
  width: 70%;
  height: 30px;
  border: 1px solid grey;
  background-color: black;
  color: white;
  text-align: left;
}

.session-inputs:focus {
  background-color: white;
  color: black;
}

.session-inputs-demo {
  width: 70%;
  height: 30px;
  border: 1px solid grey;
  background-color: black;
  color: white;
  text-align: left;
}

.session-inputs-demo p {
  position: relative;
  bottom: 5px;
  left: 5px;
}

.demo-button {
  display: flex;
  font-family:Trebuchet MS;
  font-size:15px;
  text-decoration: none;
  background-color: #fc4d02;
  color: white;
  padding:10px 20px;
  cursor: pointer;
  // border-radius: 5px;
  margin-right: 15px;
  margin-top: 20px;
  transition: all 200ms linear;
}

.submit-session:hover {
  color: #fc4d02;
  background: white;
}

// Errors-Messages
.errors-messages {

}

//LOGGED-OFF PAGE
#root {
  background-size: 100%;
  background-repeat: no-repeat;
  // overflow-x: hidden;
  // height: 100%;
  display: flex;
  flex-direction: column;

}


.logged-off-greeting {
  background-size: 100%;
  background-repeat: no-repeat;
  // overflow-x: hidden;
  height: 800px;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto Condensed', sans-serif;
  // background-image: url('http://res.cloudinary.com/ddgt25kwb/image/upload/v1505944281/run2_hkujiy.jpg');
}

.logged-off-greeting img {
  opacity: 0.85;
}

.parallax-boiz {
  height: 800px;
}

.logo-img {
  height: 7% ;
  width: 7% ;
  position: relative;
  top: -80px;
  left: -60px;
}

.logged-off-greeting h3{
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bolder;
  font-size: 320%;
  line-height: 20%;
  text-shadow: 1px 1px black;

}

.slogan {
  padding-top: 100px;
  padding-left: 70px;
}

// HOME PAGE

.day-of-week {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bolder;
  font-size: 300%;
  line-height: 20%;
}

.home-calendar {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 20px;
  top: 10px;
  border: 1px solid black;
  width: 350px;
  border-radius: 8%;
  text-align: center;
  list-style: none;
  padding-bottom: 40px;
  height: 550px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 1);
  background-color: rgba(245, 245, 245, 1);
}

.home-calendar ul{
  position: relative;
  left: -20px;
  list-style-type: none;
  display: inline-block;
  text-align:left;
  line-height: 3;
  font-size: 12px;
}

.home-calendar li{
  border-bottom: 1px solid black;
}

.home {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  height: 700px;
  // background-image: url(http://res.cloudinary.com/ddgt25kwb/image/upload/q_100/v1506015669/artur-pokusin-737_jcwwjo.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  // flex-wrap: wrap;
}

.home img {
  opacity: 0.8;
}

.quote-div {
  position: relative;
  top: 70px;
  left: 200px;
}

.quote-div h1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 30px;
  display: flex;
  flex-wrap: wrap;
  width: 60%;
}

// .logged-off-parallax {
//   height: 1000px;
// }

.day-calendar-container {
  display: flex;
  flex-direction: column;
  width: 30%;
  position: relative;
  top: 10px;
  left: 50px;
}

// WORKOUT-SHOW
.workout-show-div {
  display: flex;
  justify-content: center;
  position: relative;
  top: 50px;
}

.workout-show-container {
  font-size: 24px;
  padding: 30px;
  border: 1px solid grey;
  border-radius: 20px;
  box-shadow: 10px 10px 5px #888888;
  padding-bottom: 90px;
}

.workout-form {
  display: flex;
  font-family:Trebuchet MS;
  font-size: 12px;
  text-decoration: none;
  background-color: white;
  color: grey;
  margin-right: 5px;
  padding:10px 10px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  cursor: pointer;
}

.workout-update:hover {
  background-color: grey;
  color: white;
}

.update-form {
  display: flex;
  flex-direction: column;
  // width: 100%;
  // padding: 0 80px;
  // // overflow: none;
  text-align: center;
  font-size: 14px;
  min-height: 40px;
  padding: 12px 10px;
  transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  background: rgba(0,0,0,0.5);
  border: 1px solid black;
  color: black;
  margin: 6px 0;
  width: 94%;
  text-align: -webkit-center;
  font-size: 15px;
  font-weight: bolder;
}

.update-form input, .update-form textarea {
  width: 95%;
}

.submit-create, .submit-update {
  border-style: outset;
  transition: all 0.25s;
  border-radius: 5px;
  border-width: 1px;
  padding: 7px;
  color: white;
  height: 40px;
  margin: 15px 0;
  min-height: 20px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  background-color: #fc4d02;
  cursor: pointer;
  padding-right: 14px;
}

.submit-create:hover, .submit-update:hover {
  background-color: white;
  color: #fc4d02;
}

.update-form select {
  width: 100%;
  -webkit-appearance: button;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-padding-end: 20px;
  -webkit-padding-start: 2px;
  -webkit-user-select: none;
  background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
  background-position: 97% center;
  background-repeat: no-repeat;
  border: 1px solid #AAA;
  color: #555;
  font-size: inherit;
  margin: 0;
  overflow: hidden;
  padding: 5px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.update-form label {
  display: flex;
  flex-direction: column;
  text-align: -webkit-auto;
}

.time-select {
  display: flex;
  flex-direction: row;
}

.time-select select{
  font-size: 10px;
  width: 40%;
}

.update-form form {
  display: flex;
  flex-direction: column;
  width: 200px;
  line-height: 40px;
}

.event-map-form {
  display: flex;
  flex-direction: column;
  width: 200px;
  line-height: 40px;
  width: 100% !important;
}

.form-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.create-workout-calendar {
  display: flex;
  flex: row;
  justify-content: center;
}

.create-workout-calendar button{
  margin-top: 20px;
  position: relative;
  left: 80px;
  height: 30px;
  width: 30px;
  border-radius: 5px;
}

.plus-form {
  transition: all 0.25s;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  background-color: #fc4c02;
  color: white;
  cursor: pointer;
  border: 0;
}

.plus-form:hover {
  font-size: 14px;
  background-color: white;
  color: #fc4c02;
  border: 1px solid black;
}

.event-plus-form {
  transition: all 0.25s;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 120%;
  color: #fc4c02;
  cursor: pointer;
  border: 0;
  margin-top: 15px;
  position: relative;
  top: 35px;
}

.event-plus-form:hover {
  color: white;
  background-color: #fc4c02;
}

.event-title-plus {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
// CALENDAR-INDEX

.month {
    padding: 5px 5px;
    width: 100%;
    text-align: left;
}

.daysL {
    margin: 0;
    padding: 10px 0;
    background-color:#ddd;
}

.daysL li {
    display: inline-block;
    width: 14%;
    color: #grey;
    text-align: center;
}

.daysN {
    padding: 10px 0;
    background: #eee;
    display: flex;
    flex-wrap: wrap;
    padding-left: 10px;
    flex-grow: inherit;
}

.daysN li {
    list-style-type: none;
    width: 14%;
    text-align: left;
    min-height: 120px;
    height: 100%;
    font-size:14px;
    color:#777;
    border: 1px solid black;
    border-radius: 2px;
}

.daysN a{
  text-decoration: none;
}

.active {
    background: #0C69A4;
    color: white !important
}

.workouts-within{
  display: flex;
  flex-direction: column;
  padding-left: 5px;
}

.workouts-within li {
  font-size: 12px;
  text-align: left;
  color: black;
  width: 100%;
  border: 0;
  min-height: 20px;
}

//Map
.map-container {
  margin: 0 auto;
  height: 400px;
  width: 400px;
}

.map-show-container {
  margin: 0 auto;
  height: 400px;
  width: 600px;
}

.map-show-all {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.map-div .map-container {
  margin: 0;
  height: 400px;
  width: 100%;
}

.button-map-container button {
  position: relative;
  top: -10px;
  left: 334px;
}

.button-map-container {
  flex-flow: column;
  position: relative;
  top: -45px;
  margin-bottom: -45px;
}

.explore-div{
  display: flex;
  flex-direction: column;
  text-align: -webkit-center;
}

.explore-div h1{
  padding-left: 25px;
  text-align: -webkit-auto;
}

.map-div {
  display: flex;
  border: 2px solid black;
  width: 80%;
  justify-content: space-evenly;
  border-radius: 5px;
}

.home-container .react-parallax-content {
  display: flex;
  flex-direction: row;
}

.logout-header img{
  height: 50px;
  width: auto;
  position: relative;
  top: 15px;
  left: 25px;
}

.logout-header img:hover{
  cursor: pointer;
}

.last-month-days {
  background-color: #A9A9A9;
}

.button-map-container {
  width: 100%;
  display: flex;
  flex: 3;
}


.button-map-container button {
  height: 40px;
  width: 80px;
  border: 1px solid #999999;
  background: #0171b7;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
  margin-top: 5px;
}

.button-map-container button:hover {
  background-color: white;
  color: #0171b7;
}

.button-map-container button:disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: default;
}

.path-create {
  display: none;
}

// EVENTS

.events-index ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  text-align: -webkit-center;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap;
  justify-content: baseline;
  padding-left: 15%;
}

.events-index li {
  display: flex;
  flex-direction: column;
  padding-right: 200px;
  padding-top: 25px;
}

.events-index h1 {
  padding-left: 25px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-align: -webkit-auto;
}

.events-index img {
  // width: 40%;
  // height: auto;
}

.path-list {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 2px solid black;
}

.path-list p {
  font-weight: 900;
  font-size: x-large;
}

.path-list ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  width: max-content;
  width: 100%;
  position: relative;
  left: -16%;
  line-height: 30px;
}

.path-list li {
  border: 1px solid black;
  width: 101%;
  cursor: pointer;
}

.path-list li:hover {
  background-color: #0e2f44;
  color: white;
}

.path-show {
  width: 100%;
  background-color: inherit;
  cursor: pointer;
  border: 0;
}

.path-show:hover {
  color: white;
}

// EXTRA
.hello-user {
  padding-top: 35px !important;
}

.explore-description {
  position: relative;
  font-size: small;
  left: 200px;
}

.event-create-button {
  display: flex;
  flex-direction: row-reverse;
  padding-right: 30px;
}

.event-create-button button {
  width: 40px;
  height: 40px;
  border-radius: 5px;
}

.event-parallax {
  height: 300px;
  box-shadow: 0px 13px 26px 0px rgba(0,0,0,0.1);
}

.event-show h1 {
  font-family: 'MaisonNeue', 'Helvetica', Arial, sans-serif;
  font-weight: 900;
  padding-left: 15px;
  text-transform: uppercase;
  font-size: 220%;
  color: #303030;
}

.event-show img {
  position: relative;
  // height: 400px !important;
  // width: auto !important;
}

.event-show-info {
  font-family: 'MaisonNeue', 'Helvetica', Arial, sans-serif;
  background-color: white;
  display: flex;
  flex-direction: column;
  text-align: -webkit-center;
  line-height: 1;
}

.event-show-info  h4, .event-show-info p {
  width: 10%;
  display: flex;
  float: left;
}

.event-indx-image {
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

.event-indx-info {
  line-height: 5px;
  padding-top: 15px;
}

.event-indx-info a {
  text-decoration: none;
}

.event-indx-info a:hover {
  color: red;
}

//
.quote-progress-div{
  display: flex;
  flex-flow: column;
}

.progressbar-text {
  // bottom: 100px !important;
}

.progress-div {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
}

.map-container-2 {
  margin: 0 auto;
  height: 400px;
  width: 400px;
  position: relative;
  overflow: hidden;
  margin-top: 70px;
}
