/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
// NAVBAR

html, body {
    height: 100%;
    width: 100%;
}
//  Check out the new logo that I created on <a href="http://logomakr.com" title="Logo Maker">LogoMaker.com</a> https://logomakr.com/66Luzl66Luzl
body {
  font-family: 'Roboto', sans-serif;
  // background-image: url('http://res.cloudinary.com/ddgt25kwb/image/upload/v1505944281/run2_hkujiy.jpg');
  background-position-y: 120px;
  background-size: 100%;
  background-repeat: no-repeat;
  overflow-x: hidden;
  overflow-y: hidden;
  margin: 8px 8px 0 0;
}

.login-header, .logout-header {
  height: 100px;
  display: flex;
  flex-direction: row-reverse;
  background: white;

  border-bottom: 1px solid black;
}

.login-header p, .logout-header p {
  padding-top: 25px;
  padding-right: 30px;
}

.myButton {
  display: flex;
	-moz-box-shadow:inset 0px 34px 0px -15px #fc4d02;
	-webkit-box-shadow:inset 0px 34px 0px -15px #fc4d02;
	box-shadow:inset 0px 34px 0px -15px #fc4d02;
	background-color: #fc4d02;
	display:inline-block;
	cursor:pointer;
	color: #ffffff;
	font-family:Trebuchet MS;
	font-size:20px;
	font-weight:bold;
	padding:20px 20px;
	text-decoration:none;
	text-shadow:0px 0px 0px #ffffff;
  height: 85px;
  width: 150px;
}
.myButton:hover {
	background-color:#fc4d02;
}
.myButton:active {
	position:relative;
	top:1px;
}

.button {
  display: flex;
  font-family:Trebuchet MS;
  font-size:20px;
  text-decoration: none;
  background-color: #fc4d02;
  color: #ffffff;
  margin-right: 20px;
	padding:30px 30px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  cursor: pointer;
}

.signup-button {
  display: flex;
  font-family:Trebuchet MS;
  font-size:20px;
  text-decoration: none;
  background-color: #fff;
  color: black;
  padding:30px 60px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  cursor: pointer;
}

.divider{
  width:350px;
  height:auto;
  display:inline-block;
}

.login-ul-nav {
  display: flex;
  margin: auto;
  width: 60%;
  height: 65%;
  justify-content: space-between;
}

.login-ul-nav a {
  font-size:20px;
  text-decoration: none;
  background-color: #fff;
  color: black;
  padding:0px 20px;
}

.login-ul-nav a:hover {
  font-size:20px;
  text-decoration: none;
  color: red;
  padding:0px 20px;
}

.session-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 80px;
  overflow: none;
  text-align: center;
}

.submit-session {
  margin-top: 25px;
  background-color: #fc4d02;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

.session-form-div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.demo-button {
  display: flex;
  font-family:Trebuchet MS;
  font-size:15px;
  text-decoration: none;
  background-color: grey;
  color: #ffffff;
  margin-right: 20px;
  padding:5px 5px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  cursor: pointer;
  height: 50%;
}

// Errors-Messages
.errors-messages {

}

//LOGGED-OFF PAGE
#root {
  background-size: 100%;
  background-repeat: no-repeat;
  overflow-x: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;

}


.logged-off-greeting {
  background-image: url('http://res.cloudinary.com/ddgt25kwb/image/upload/v1505944281/run2_hkujiy.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  overflow-x: hidden;
  height: 680px;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto Condensed', sans-serif;
  // background-image: url('http://res.cloudinary.com/ddgt25kwb/image/upload/v1505944281/run2_hkujiy.jpg');
}

.logged-off-greeting img{
  height: 7% ;
  width: 7% ;
  position: relative;
  top: -70px;
  left: -60px;
}

.logged-off-greeting h3{
  color: white;
  font-weight: bolder;
  font-size: 300%;
  line-height: 20%;
}

.slogan {
  padding-top: 100px;
  padding-left: 70px;
}

// HOME PAGE

.home-calendar {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 80px;
  top: 40px;
  border: 1px solid black;
  width: 30%;
  border-radius: 8%;
  text-align: center;
  list-style: none;
  padding-bottom: 40px;
  height: 550px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 1);
  background-color: rgba(245, 245, 245, 1);
}

.home-calendar ul{
  position: relative;
  left: -20px;
  list-style-type: none;
  display: inline-block;
  text-align:left;
  line-height: 3;
  font-size: 12px;
}

.home-calendar li{
  border-bottom: 1px solid black;
}

.home {
  display: flex;
  flex-direction: row;
  height: 680px;
  background-image: url(http://res.cloudinary.com/ddgt25kwb/image/upload/q_100/v1506015669/artur-pokusin-737_jcwwjo.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.home img {
  // backg: 0.2;
}

.quote-div {
  position: relative;
  top: 30px;
  left: 120px;
}

.quote-div h1 {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
}
